body {
  padding-top: 50px;
  padding-bottom: 30px;
}

img {
    border: 3px solid #999;
}
/*.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}*/

.intro-header {
    background: url(../image/elephant.jpg) no-repeat center center;
}

.report-header {
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../image/report-writing.jpg) no-repeat center center;
    background-size: cover;
}

.about-header {
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../image/jungle.jpg) no-repeat center center;
    background-size: cover;
}

.about-message {
    padding-top: 5%;
    padding-bottom: 5%;

}

.about-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 4em;
}

.report-date {
    font-size: small;
    font-style: italic;
    color: #AAA;
}

/**
Calender classes
 */
.calendar-navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.calendar-table {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    width: 100%;
}

.calendar-head {
    display: flex;
    justify-content: space-around;
    border: 1px solid #ddd;
}

.calendar-week {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.calendar-weekday {
    text-align: center;
}

.calendar-cell {
    text-align: right;
    border: 1px solid #ddd;
    flex-grow: 1;
    height: 87px;
    width: 100%;
    padding: 0.3em;
    overflow: hidden;
}

.calendar-holiday {
    color: #c43c35;
}

.calendar-holiday-name {
    font-weight: lighter;
}

.calendar-number {
    font-size: large;
    margin-bottom: 0.1rem;
}

.calendar-today {
    background-color: #f3f3f3;
}

@media all and (max-width: 550px) {
    .calendar-hide-small {
        display: none;
    }
}

@media all and (max-width: 800px) {
    .calendar-cell {
        height: 70px;
    }

    .calendar-holiday-name {
        font-size: x-small;
    }
}

.calendar-mute {
    background-color: #e5e5e5;
}

/*
Test some flexbox-magic to get tiny calendar.
Doesn't work quite yet. If I would start using less...
 */
.tiny-calendar {
    max-width: 650px;
}

/*
Helpers
 */
.right-divider {
    border-right: 1px solid #b3b3b3;
    padding-right: 2rem;
    margin-right: 2rem;
}

.right-margin-2rem {
    margin-right: 2rem;
}

.big-horisontal-margins {
    margin-top: 100px;
    margin-bottom: 100px;
}

.content-deleted {
    opacity: 0.5;
}
